footer .footer-section{
    background-color: #353645;
    padding-top: 1%;
    
}
footer h6{
    color: white;
    font-size: large;
    font-weight: bold;
}
footer .text-reset{
    color: white !important;
    font-size: medium;
}
i {
    color: white;
    font-size: large;
}